<div class="nav-link">
</div>

<div class="container home-container">
  <div class="row">
    <div class="col-md-6">
      <div class="home-content">
        <h1>Bienvenue sur KnowledgeBridge</h1>
        <p>La plateforme d'apprentissage en ligne.</p>
        <a routerLink="/mescours" class="btn btn-primary">Découvrir nos cours</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="logo-container">
        <img src="assets/images/logo/web-dev.png" alt="KnowledgeBridge Logo" class="logo-image">
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
